@import "../../styles/variables";

.topline {
  background-color: $color-five;

  p {
    font-family: releway-regular;
    font-size: 1.25rem;
    text-align: center;
    color: $color-basic1;
    padding: 1.25rem;
    margin: 0;
  }
}

.container {
  position: relative;
  height: calc(100vh - 4rem);
  display: flex;
  align-items: flex-end;

  .logovaliente {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .service {
    width: 25%;
    text-align: center;
    font-family: releway-extralight;
    height: 10rem;
    font-size: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4.21875rem;

    &:hover {
      height: 96%;
      transition-duration: 2s;
    }
  }

  .quienessomos {
    background-color: $color-second;
    margin-right: 0.625rem;
  }

  .servicios {
    background-color: $color-first;
    margin-right: 0.625rem;
  }

  .portfolio {
    background-color: $color-third;
    margin-right: 0.625rem;
  }

  .contacto {
    background-color: $color-four;
  }
}

