@import "../../styles/variables";

.header {
  color: $color-red;
}

.topline {
  background-color: #aa998a;

  p {
    background-color: red;
    font-family: releway-regular;
  }
}

.logovaliente{
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    max-width: 500px;
  }
}
