@import "../../styles/variables";



.container {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $size-desktop) {
    position: relative;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: flex-end;
    // margin-top: 1rem;
  }

  .logovaliente {
    width: 14rem;

    @media screen and (min-width: $size-desktop) {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: auto;
    }
  }

  .service {
    display: none;

    @media screen and (min-width: $size-desktop) {
      display: flex;
      width: 25%;
      text-align: center;
      font-family: releway-extralight;
      height: 10rem;
      font-size: 1.5625rem;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 4.21875rem;
    }

    &:hover {
      height: 96%;
      transition-duration: 2s;
    }
  }

  .quienessomos {
    background-color: $color-second;
    margin-right: 0.625rem;
  }

  .servicios {
    background-color: $color-first;
    margin-right: 0.625rem;
  }

  .portfolio {
    background-color: $color-third;
    margin-right: 0.625rem;
  }

  .contacto {
    background-color: $color-four;
  }
}