@import "../../styles/variables";

.fotojulia{
    padding: 0 2rem 2rem;
}

.imgpresentacion{
    background-image: url("/images/pagina-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 75vh;
    img{
        display: flex;
        align-items: center;
    }
}

.imgpresentacion{
    p{
        width: calc(50% - 80px);
        padding-left: 80px;
        font-size: 25px;
        font-family: releway-extralight;
    }
    span{
        font-weight: bold;
    }
   
}

