@import "../../styles/variables";

.textcontainer {
    text-align: center;

    .imagetitle {
        margin-top: 0.3rem;
    }

    .soyjulia {
        margin-top: 0;
        font-family: raleway-light;
    }
}