@import "../../styles/variables";

// .imgcierre{
//     margin-top: 2rem;
//     padding-bottom: 1rem;
// }

.imgcierre {
    position: relative;
    margin-top: 1rem;

    @media screen and (min-width: $size-desktop) {
        padding-top: 2rem;
        width: 80%;
        margin: auto;
    }
}