@font-face {
  font-family: abril-fatface;
  src: url(/fonts/ABRIL/AbrilFatface-Regular.otf);
}
@font-face{
  font-family: abril-fatface1;
  src: url(/fonts/ABRIL/AbrilFatface-Regular.ttf);
}

@font-face{
  font-family: assinatura;
  src: url(/fonts/ASSINATURA.ttf);
}

@font-face{
  font-family: releway-regular;
  src: url(/fonts/RALEWAY/Raleway-Regular.ttf);
}

@font-face{
  font-family: releway-extralight;
  src: url(/fonts/RALEWAY/Raleway-ExtraLight.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
