@font-face {
  font-family: abril-fatface;
  src: url(/fonts/ABRIL/AbrilFatface-Regular.otf);
}

@font-face {
  font-family: abril-fatface1;
  src: url(/fonts/ABRIL/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: assinatura;
  src: url(/fonts/ASSINATURA.ttf);
}

@font-face {
  font-family: releway-regular;
  src: url(/fonts/RALEWAY/Raleway-Regular.ttf);
}

@font-face {
  font-family: releway-extralight;
  src: url(/fonts/RALEWAY/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: raleway-light;
  src: url(/fonts/RALEWAY/Raleway-Light.ttf);
}

@font-face {
  font-family: releway-lightitalic;
  src: url(/fonts/RALEWAY/Releway-LightItalic.ttf);
}

@font-face {
  font-family: releway-bold;
  src: url(/fonts/RALEWAY/Raleway-Bold.ttf);
}

@font-face {
  font-family: releway-medium;
  src: url(/fonts/RALEWAY/Raleway-Medium.ttf);
}

@font-face {
  font-family: raleway-thin;
  src: url(/fonts/RALEWAY/Raleway-Thin.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

body {
  background-image: url("/images/FONDO1.jpg");

  &.menu-open {
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: releway-regular;
}

strong {
  font-family: releway-bold;
}